@font-face {
    font-family: "OpenSans";
    src: url("OpenSans.ttf");
}

html {
    font-family: "OpenSans", sans-serif;
}

button {
    background: #17212b;
    color: #748597;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px 0;
}

button:hover {
    background: #202b36;
    color: #65bbf4;
}

.lbtn {
    width: 100%;
}

.flexbtns {
    display: flex;
}

.flexbtn {
    display: inline-block !important;
    margin-right: 5px;
}

.flexbtn:last-child {
    margin-right: 0;
}

@media (max-width: 1190px) {
    .flexbtns {
        display: block;
    }
    
    .flexbtn {
        display: inline-block !important;
    }
}
  

.center {
    user-select: none;
    display: block;
    text-align: center;
}

.row {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.column {
    float: left;
}

.left {
    width: 25%;
    background: #0e1621;
    padding: 10px;
    color: #748597;
}

.right {
    width: 75%;
    background: #0e1621;
}

textarea, input {
    background-color: #17212b;
    color: #748597;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    border: none;
}

input {
    padding: 5px;
}

.result {
    width: 100%;
    height: 60%;
    margin-top: 3px;
    border: none;
    resize: none;
}

.result:focus {
    outline: none;
}

@media (max-width: 350px) {
    .result {
        height: 30%;
    }
}

@media (max-width: 465px) {
    .result {
        height: 40%;
    }
}

@media (max-width: 650px) {
    .result {
        height: 50%;
    }
}

.mt10 {
    margin-top: 10px;
}

/* Modal Window */
.modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0e1621;
    color: #748597;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;

    background: #17212b;
    color: #748597;
    border: none;
}

.close-button:hover {
    background: #202b36;
    color: #65bbf4;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}